<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.ultraq.net.nz/thymeleaf"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />

<title layout:title-pattern="$LAYOUT_TITLE $CONTENT_TITLE"></title>

<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" th:content="#{system-description}" />
<meta name="author" th:content="#{main-developer-name}" />
<link rel="shortcut icon" href="/favicon.ico" />
<meta http-equiv="Expires" content="Mon, 26 Jul 1997 05:00:00 GMT" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<base href="/" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<!--  >link rel="stylesheet" type="text/css"
	href="/mybootstrap/css/bootstrap-theme.css" /-->
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="site-overrides.css"></link>
</head>

<body style="padding-top: 4.5em;">

	<nav class="navbar navbar-dark navbar-expand-lg bg-dark fixed-top"
		style="background-color: #03030f;">
		<a class="navbar-brand" href="Index" th:text="#{app-title-short}"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#mainMenu" aria-controls="mainMenu"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="mainMenu">
			<ul class="navbar-nav mr-auto">
				<li th:if="${userInfo}" th:each="pageName: ${studentPageNames}"
					class="nav-item"><a th:href="${pageName}"
					th:text="${pageName}" class="nav-link"
					th:appendclass="${classForPageName}"></a></li>

				<li class="nav-item dropdown" th:if="${userInfo.administrator}"><a
					class="nav-link dropdown-toggle" href="#" id="mainMenuAdmin"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">[[#{admin-label}]]</a>
					<div class="dropdown-menu" aria-labelledby="mainMenuAdmin">
						<a th:each="pageName: ${adminPageNames}" class="dropdown-item"
							th:appendclass="${classForPageName}" th:href="${pageName}">[[${pageName}]]</a>
					</div></li>
			</ul>

			<ul class="navbar-nav navbar-right">
				<li class="nav-item"><a class="nav-link" href=""
					id="localeToggle">[[#{lang-label}]] [[${displayLanguage}]]</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="mainMenuUserProfile"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"><img
						src="images/tango-icon-theme/org/freedesktop/tango/scalable/apps/system-users.svg"
						style="width: 16;" /> [[${userName}]]</a>
					<div class="dropdown-menu" aria-labelledby="mainMenuUserProfile">
						<a th:if="${userInfo}" th:href="@{Logout}" class="dropdown-item"><img
							src="images/tango-icon-theme/org/freedesktop/tango/scalable/actions/system-log-out.svg"
							style="width: 16;" /> [[#{Logout-label}]]</a>
					</div></li>
			</ul>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<p t:alerts />
			</div>
		</div>

		<!-- content -->
		<div layout:fragment="content"></div>
		<!-- /content -->

		<hr />
		<footer>
			<p>
				Copyright &copy;<span th:text="#{copyrightYear}" /> <a
					href="https://ajanovski.info" th:text="#{copyrightHolder} "> </a>
			</p>
		</footer>
	</div>

</body>
</html>
