<!DOCTYPE html>
<html data-layout-decorate="~{fragments/layoutGuest.html}" lang="en">
<head>
<title data-th-text="#{app-title-short}"></title>
</head>
<body>

	<div data-layout-fragment="content">

		<h1>[[#{logout-page}]]</h1>

		<h2>[[#{application-logout}]]</h2>

		<p>[[#{logout-info-application}]]</p>

		<h2>[[#{logout-page}]]</h2>
		<p>
			<b>[[#{logout-info-total}]]</b>
		</p>
		<p>
			[[#{logout-desc-total}]]<br /> <a
				data-th-href="${casLogoutLink}"
				class="btn btn-primary">[[#{logout-desc-total-title}]]</a> <br />
			[[#{logout-desc-total-cont}]]
		</p>

	</div>
</body>
</html>
