<!DOCTYPE html>
<html data-layout-decorate="~{fragments/layout.html}" lang="en">
<head>
<title data-th-text="#{app-title-short}"></title>
</head>
<body>

	<div data-layout-fragment="content">

		<h1>[[#{MyRepositories-pagelink}]]</h1>

		<h2>[[#{Personal-label}]]</h2>
		<table class="table table-sm">
			<tr data-th-each="repository: ${personalRepositories}">
				<td>[[${repository.title}]]</td>
				<td>[[${repository.url}]]</td>
				<td>[[${repository.dateCreated}]]</td>
			</tr>
		</table>

		<h2>[[#{project-label}]]</h2>
		<table class="table table-sm">
			<tr data-th-each="repository: ${projectRepositories}">
				<td>[[${repository.title}]]</td>
				<td>[[${repository.url}]]</td>
				<td>[[${repository.dateCreated}]]</td>
			</tr>
		</table>

		<h2>[[#{team-label}]]</h2>
		<table class="table table-sm">
			<tr data-th-each="repository: ${teamRepositories}">
				<td>[[${repository.title}]]</td>
				<td>[[${repository.url}]]</td>
				<td>[[${repository.dateCreated}]]</td>
			</tr>
		</table>
	</div>
</body>
</html>
