<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />

<title data-layout-title-pattern="$LAYOUT_TITLE $CONTENT_TITLE"></title>

<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" data-th-content="#{system-description}" />
<meta name="author" data-th-content="#{main-developer-name}" />
<link rel="shortcut icon" data-th-href="@{favicon.ico}" />
<meta http-equiv="Expires" content="Mon, 26 Jul 1997 05:00:00 GMT" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<base data-th-href="@{/}" />
<script type="text/javascript"
	data-th-src="@{webjars/jquery/jquery.min.js}"></script>
<link rel="stylesheet" type="text/css"
	data-th-href="@{webjars/bootstrap/css/bootstrap.min.css}" />
<!--  >link rel="stylesheet" type="text/css"
	href="/mybootstrap/css/bootstrap-theme.css" /-->
<script type="text/javascript"
	data-th-src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
<link rel="stylesheet" data-th-href="@{site-overrides.css}"></link>
</head>

<body style="padding-top: 4.5em;">

	<nav class="navbar navbar-dark navbar-expand-lg bg-dark fixed-top"
		style="background-color: #03030f;">
		<a class="navbar-brand" data-th-href="@{MyProfile}"
			data-th-text="#{app-title-short}"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#mainMenu" aria-controls="mainMenu"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="mainMenu">
			<ul class="navbar-nav mr-auto" data-th-if="${userInfo}">
				<li data-th-if="${userInfo}"
					data-th-each="pageName: ${studentPageNames}" class="nav-item"><a
					data-th-href="${pageName}" data-th-text="${pageName}"
					class="nav-link" data-th-appendclass="${classForPageName}"></a></li>

				<li class="nav-item dropdown" data-th-if="${userInfo.administrator}"><a
					class="nav-link dropdown-toggle" href="#" id="mainMenuAdmin"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">[[#{admin-label}]]</a>
					<div class="dropdown-menu" aria-labelledby="mainMenuAdmin">
						<a data-th-each="pageName: ${adminPageNames}"
							class="dropdown-item" data-th-appendclass="${classForPageName}"
							data-th-href="${pageName}">[[${pageName}]]</a>
					</div></li>
			</ul>

			<ul class="navbar-nav navbar-right">
				<li class="nav-item"><a class="nav-link" href=""
					id="localeToggle">[[#{lang-label}]] [[${displayLanguage}]]</a></li>
				<li class="nav-item dropdown" data-th-if="${userInfo}"><a
					class="nav-link dropdown-toggle" href="#" id="mainMenuUserProfile"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> <img
						data-th-replace="fragments/SVGIcon :: svgicon(path='user')" />
						[[${userName}]]
				</a>
					<div class="dropdown-menu" aria-labelledby="mainMenuUserProfile">
						<a data-th-if="${userInfo}" data-th-href="@{Logout}"
							class="dropdown-item"><img
							data-th-replace="fragments/SVGIcon :: svgicon(path='user')" />
							[[#{Logout-label}]]</a>
					</div></li>
				<li class="nav-item" data-th-unless="${userInfo}"><a
					class="nav-link" data-th-href="@{Login}" id="login">[[#{login-label}]]</a></li>
			</ul>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<p class="talerts" />
			</div>
		</div>

		<!-- content -->
		<div data-layout-fragment="content"></div>
		<!-- /content -->

		<hr />
		<footer>
			<p>
				Copyright &copy;<span data-th-text="#{copyrightYear}"></span> <a
					data-th-href="#{main-developer-url}"
					data-th-text="#{copyrightHolder} "> </a>
			</p>
		</footer>
	</div>

</body>
</html>
