<!DOCTYPE html>
<html data-layout-decorate="~{fragments/layout.html}" lang="en">
<head>
<title data-th-text="#{app-title-short}"></title>
</head>
<body>

	<div layout:fragment="content">

		<h1>[[#{admin/ManageDatabases-pagelink}]]</h1>


		<div class="row">
			<div class="col-3">
				<a href="/admin/ManageDatabases.toggle" class="btn btn-primary">Show
					databases for creation: [[${isOnlyShowNotCreated}]]</a>
			</div>

			<div class="col-9">
				<div class="card-body" data-th-if="${editDatabase}">
					<h3>[[#{database-label}]]</h3>
					<form class="form-horizontal"
						data-th-action="@{/admin/ManageDatabases.saveDatabaseForm}"
						data-th-object="${editDatabase}" method="post">
						<input type="hidden" data-th-field="*{databaseId}" />
						<div class="form-group">
							<label for="name" class="control-label">name</label> <input
								type="text" id="name" name="name" data-th-field="*{name}"
								class="form-control" />
						</div>
						<div class="form-group">
							<label for="owner" class="control-label">owner</label> <input
								type="text" id="owner" name="owner" data-th-field="*{owner}"
								class="form-control" />
						</div>
						<button type="submit" value="" id="Save" class="btn btn-default">OK</button>
					</form>
				</div>
			</div>
		</div>

		<div data-th-if="${isOnlyShowNotCreated}">
			<code>
				<p data-th-each="database: ${databases}">
					./create_database.sh "[[${database.name}]]" "[[${database.owner}]]"
					"[[${database.password}]]"<br />
				</p>
			</code>
		</div>
		<div data-th-unless="${isOnlyShowNotCreated}">
			<table class="table table-sm">
				<thead>
					<tr>
						<th>type</th>
						<th>server</th>
						<th>port</th>
						<th>name</th>
						<th>owner</th>
						<th>password</th>
						<th>tunnelUser</th>
						<th>tunnelPassword</th>
						<th>tunnelServer</th>
						<th>tunnelServer</th>
						<th>Action</th>
					</tr>
				</thead>
				<tr data-th-each="database: ${databases}">
					<td>[[${database.type}]]</td>
					<td>[[${database.server}]]</td>
					<td>[[${database.port}]]</td>
					<td>[[${database.name}]]</td>
					<td>[[${database.owner}]]</td>
					<td>[[${database.password}]]</td>
					<td>[[${database.tunnelUser}]]</td>
					<td>[[${database.tunnelPassword}]]</td>
					<td>[[${database.tunnelServer}]]</td>
					<td>[[${database.dateCreated}]]</td>
					<td><a role="button" class="btn btn-sm btn-secondary"
						data-th-href="@{/admin/ManageDatabases.edit(databaseId=${database.databaseId})}"
						t:mixins="confirm"><img
							data-th-replace="fragments/SVGIcon :: svgicon(path='edit')" />[[#{edit-label}]]</a>
						<a
						data-th-href="@{/admin/ManageDatabases.delete(databaseId=${database.databaseId})}"
						class="btn btn-sm btn-danger" t:mixins="confirm"><img
							data-th-replace="fragments/SVGIcon :: svgicon(path='trash')" />[[#{remove-label}]]</a></td>
				</tr>
			</table>
		</div>

	</div>


</body>
</html>
