<!DOCTYPE html>
<html data-layout-decorate="~{fragments/layout.html}" lang="en">
<head>
<title data-th-text="#{app-title-short}"></title>
</head>
<body>

	<div data-layout-fragment="content">


		<h1>[[#{admin/ManageRepositories-pagelink}]]</h1>

		<div class="col-3">
			<a href="/admin/ManageRepositories.toggle" class="btn btn-primary">Show
				repositories for creation: [[${isOnlyShowNotCreated}]]</a>
		</div>

		<div data-th-if="${isOnlyShowNotCreated}">
			<code>
				<span data-th-each="repositoty: ${repositories}"
					data-th-remove="tag"> ./create_repository.sh
					"${repository.title}" "${repository.url}"<br />
				</span>
			</code>
		</div>
		<div data-th-unless="${isOnlyShowNotCreated}">
			<table class="table table-sm">
				<thead>
					<tr>
						<th>title</th>
						<th>url</th>
						<th>date created</th>
						<th>Action</th>
					</tr>
				</thead>
				<tr data-th-each="repository: ${repositories}">
					<td>[[${repository.title}]]</td>
					<td>[[${repository.url}]]</td>
					<td>[[${repository.dateCreated}]]</td>
					<td><a role="button" class="btn btn-sm btn-secondary"
						data-th-href="@{/admin/Managerepositories.edit(repositoryId=${repository.repositoryId})}"><img
							data-th-replace="fragments/SVGIcon :: svgicon(path='edit')" />[[#{edit-label}]]</a>
						<a
						data-th-href="@{/admin/Managerepositories.delete(repositoryId=${repository.repositoryId})}"
						class="btn btn-sm btn-danger"><img
							data-th-replace="fragments/SVGIcon :: svgicon(path='trash')" />[[#{remove-label}]]</a></td>
				</tr>
			</table>
		</div>


	</div>


</body>
</html>
