<!DOCTYPE html>
<html data-layout-decorate="~{fragments/layout.html}" lang="en">
<head>
<title data-th-text="#{app-title-short}"></title>
</head>
<body>

	<div data-layout-fragment="content">
		<h1>[[#{admin/Projects-pagelink}]]</h1>

		<div class="row">
			<div class="col-6">
				<div class="card">
					<div class="card-body">
						<form id="selectProject" class="form-inline"
							data-th-action="@{/admin/Projects.selectProject}" method="post">
							<div class="form-group">
								<label for="selectedProject">Select Project</label> <select
									class="form-control" id="newSelectedProject"
									name="newSelectedProject" onchange="this.form.submit(); ">
									<option data-th-value="-1">/</option>
									<option data-th-each="project: ${allprojects}"
										data-th-value="${project.projectId}"
										data-th-text="${project.title}"
										data-th-selected="${selectedProject != null && project.projectId==selectedProject.projectId}">Title</option>
								</select>
							</div>
							<button type="submit" class="btn btn-primary">OK</button>
						</form>
					</div>
				</div>
			</div>

			<div class="col-6">
				<div class="card mb-3" data-th-if="${newProject}">
					<div class="card-body">
						<h3>[[#{Project-label}]]</h3>
						<form id="NewProjectForm" data-th-object="${newProject}"
							data-th-action="@{/admin/Projects.onSuccessFromNewProjectForm}"
							method="post">
							<div class="form-group">
								<label for="title">title</label> <input id="title" name="title"
									data-th-field="*{title}" class="form-control" />
							</div>
							<div class="form-group">
								<label for="description">description</label> <input
									id="description" name="description"
									data-th-field="*{description}" class="form-control" />
							</div>
							<button type="submit" class="btn btn-primary">OK</button>
						</form>
					</div>
				</div>

				<div class="card mb-3" data-th-if="${newTeam}">
					<div class="card-body">
						<h3>[[#{Team-label}]]</h3>
						<form id="NewTeamForm" data-th-object="${newTeam}"
							data-th-action="@{/admin/Projects.onSuccessFromNewTeamForm}"
							method="post">
							<input type="hidden" id="inProject" name="inProject"
								data-th-value="${inProject}" />
							<div class="form-group">
								<label for="name">name</label> <input id="name" name="name"
									data-th-field="*{name}" class="form-control" />
							</div>
							<button type="submit" class="btn btn-primary">OK</button>
						</form>
					</div>
				</div>

				<div class="card mb-3" data-th-if="${newTm}">
					<div class="card-body">
						<h3>[[#{TeamMember-label}]]</h3>
						<form class="form-horizontal" id="newTeamMemberForm"
							data-th-object="${newTm}"
							data-th-action="@{/admin/Projects.onSuccessFromNewTeamMemberForm}"
							method="post">
							<input type="hidden" id="team" name="team"
								data-th-field="*{team.teamId}" />
							<div class="form-group">
								<label for="positionNumber">positionNumber</label> <input
									id="positionNumber" name="positionNumber"
									data-th-field="*{positionNumber}" class="form-control" />
							</div>
							<div class="form-group">
								<label for="role">role</label> <input id="role" name="role"
									data-th-field="*{role}" class="form-control" />
							</div>
							<div class="form-group">
								<label for="selectedPerson">Select Person</label> <select
									class="form-control" id="newSelectedPerson"
									name="newSelectedPerson">
									<option data-th-each="person: ${listPersons}"
										data-th-value="${person.personId}">[[${person.userName}]]
										[[${person.lastName}]] [[${person.firstName}]]</option>
								</select>
							</div>
							<button type="submit" class="btn btn-primary">OK</button>
						</form>
					</div>
				</div>

				<div class="card mb-3" data-th-if="${newDb}">
					<div class="card-body">
						<h3>[[#{Database-label}]]</h3>
						<form class="form-horizontal" id="newDatabaseForm"
							data-th-object="${newDb}"
							data-th-action="@{/admin/Projects.onSuccessFromNewDatabaseForm}"
							method="post">
							<input type="hidden" id="inProject" name="inProject"
								data-th-value="${inProject}" />
							<div class="form-group">
								<label for="name">name</label> <input id="name" name="name"
									data-th-field="*{name}" class="form-control" />
							</div>
							<div class="form-group">
								<label for="type">type</label> <input id="type" name="type"
									data-th-field="*{type}" class="form-control" />
							</div>
							<div class="form-group">
								<label for="server">server</label> <input id="server"
									name="server" data-th-field="*{server}" class="form-control" />
							</div>
							<div class="form-group">
								<label for="port">port</label> <input id="port" name="port"
									data-th-field="*{port}" class="form-control" />
							</div>
							<div class="form-group">
								<label for="owner">owner</label> <input id="owner" name="owner"
									data-th-field="*{owner}" class="form-control" />
							</div>
							<div class="form-group">
								<label for="password">password</label> <input id="password"
									name="password" data-th-field="*{password}"
									class="form-control" />
							</div>
							<div class="form-group">
								<label for="tunnelServer">tunnelServer</label> <input
									id="tunnelServer" name="tunnelServer"
									data-th-field="*{tunnelServer}" class="form-control" />
							</div>
							<div class="form-group">
								<label for="tunnelUser">tunnelUser</label> <input
									id="tunnelUser" name="tunnelUser" data-th-field="*{tunnelUser}"
									class="form-control" />
							</div>
							<div class="form-group">
								<label for="tunnelPassword">tunnelPassword</label> <input
									id="tunnelPassword" name="tunnelPassword"
									data-th-field="*{tunnelPassword}" class="form-control" />
							</div>
							<button type="submit" class="btn btn-primary">OK</button>
						</form>
					</div>
				</div>

				<div class="card mb-3" data-th-if="${newRp}">
					<div class="card-body">
						<h3>[[#{Repository-label}]]</h3>
						<form class="form-horizontal" id="newRepositoryForm"
							data-th-object="${newRp}"
							data-th-action="@{/admin/Projects.onSuccessFromNewRepositoryForm}"
							method="post">
							<input type="hidden" id="inProject" name="inProject"
								data-th-value="${inProject}" />
							<div class="form-group">
								<label for="title">title</label> <input id="title" name="title"
									data-th-field="*{title}" class="form-control" />
							</div>
							<div class="form-group">
								<label for="url">url</label> <input id="url" name="url"
									data-th-field="*{url}" class="form-control" />
							</div>
							<button type="submit" class="btn btn-primary">OK</button>
						</form>
					</div>
				</div>

				<div>
					<a id="NewProject" class="btn btn-primary"
						data-th-href="@{/admin/Projects.newProject}"> <img
						data-th-replace="fragments/SVGIcon :: svgicon(path='plus-square')" />
						[[#{new-label}]] [[#{Project-label}]]
					</a>
				</div>
			</div>
		</div>

		<div id="projectZone">
			<div class="card mt-3" data-th-each="project: ${listProjects}">
				<div class="card-header">
					<h3>[[${project.title}]]</h3>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-4">
							<p class="" data-th-each="repository: ${project.repositories}">
								<b>[[#{repository-label}]]</b><br />[[${repository.url}]]
							</p>
							<p>
								<a
									data-th-href="@{/admin/Projects.newRepository(inProject=${project.projectId})}"
									class="btn btn-sm btn-secondary"> <img
									data-th-replace="fragments/SVGIcon :: svgicon(path='plus-square')" />
									[[#{repository-label}]]
								</a>
							</p>

							<p class="" data-th-each="database: ${project.databases}">
								<b>[[#{database-label}]]</b><br />[[${database.name}]]
							</p>
							<p>
								<a id="NewDatabase" class="btn btn-sm btn-secondary"
									data-th-href="@{/admin/Projects.newDatabase(inProject=${project.projectId})}">
									<img
									data-th-replace="fragments/SVGIcon :: svgicon(path='plus-square')" />
									[[#{database-label}]]
								</a>
							</p>

						</div>
						<div class="col-8">
							<div class="card mb-3 p-3"
								data-th-each="responsibility: ${project.responsibilities}">
								<div
									data-th-replace="fragments/TeamMembersGrid :: titleandgrid(${responsibility.team})"></div>

								<p>
									<a
										data-th-href="@{/admin/Projects.addTeamMember(inTeam=${responsibility.team.teamId})}"
										id="addTeamMember" role="button"
										class="btn btn-sm btn-primary "><img
										data-th-replace="fragments/SVGIcon :: svgicon(path='user-plus')" />
										[[#{add-label}]] [[#{TeamMember-label}]]</a>
								</p>
							</div>
							<a id="NewTeam"
								data-th-href="@{/admin/Projects.newTeam(inProject=${project.projectId})}"
								class="btn btn-secondary"><img
								data-th-replace="fragments/SVGIcon :: svgicon(path='plus-square')" />
								[[#{Team-label}]]</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>
